.App {
  text-align: center;
  min-height: 100vh;
  background-color: #62bcf5;
}


.body{
  
}
.App-header {
  background-color: #3044f2;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

