.App {
  text-align: center;
  min-height: 100vh;
  background-color: #62bcf5;
}


.body{
  font-family: 'Lato', sans-serif;
}



.App-link {
  color: #61dafb;
}

@media screen and (max-width: 1007px){
  h1{
    display: none;
  }
}

@media screen and (max-width: 640px){
  h1{
    display: none;
  }
}